.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}
.footer_left {
  display: flex;
  gap: 20px;
}

.footer_icon {
  font-size: 24px;
}
.continer3 {
  background-color: #74c69d;
  color: #ffffff;
  height: 120px;
}
.footer_text {
  font-size: 20px;
}
@media (min-width: 1024px) {
  .footer {
    padding: 40px 80px;
  }

  .footer_left {
    gap: 20px;
  }

  .footer_text {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 30px;
  }

  .footer_left {
    gap: 15px;
  }

  .footer_text {
    font-size: 18px;
  }
  .footer_right {
    margin-top: 20px;
  }
  .footer_icon {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .footer {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .footer_left {
    justify-content: center;
    gap: 10px;
  }

  .footer_text {
    font-size: 16px;
  }
  .footer_icon {
    font-size: 18px;
  }
}
